*{
    border: 0;
    margin: 0; 
    padding:0;
}

.header{
    height: 10vh;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

main{
    height: 80vh;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;



}

aside{
    height: 25vh;
    background: rgb(90, 152, 194);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5rem;    
    width: 20vw;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.articlebox{
    display: flex;
    flex: 2;
    height: 25vh;
    width: 20vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background: white;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-right: 5rem;

}

article{
    padding: 1rem;
    border: 1px solid black;
    border-radius: 6px;

}

img{
    width: 30px;
    height: 30px;
    border-radius: 999px;
}

.userCard{
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 0.2rem;
    margin: 0 0.25rem;
    border-radius: 6px;
    gap: 1rem;
    background: white;
    font-size: 12px;
    margin-top: 0.5rem;


}

.footer {
    height: 10vh;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}